*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}

.counter {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(46, 43, 233, 0.1) 8px 8px 32px;
  font-size: 1.8rem;
  overflow: hidden;
}
.counter__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 1.5em 1.5em;
}
.counter__result-title {
  padding-bottom: 1.5em;
  color: hsl(241, 100%, 89%);
}
.counter__points {
  padding: 2em 2.5em;
  margin-bottom: 1.2em;
  text-align: center;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
}
.counter__points-heading {
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}
.counter__points-info {
  color: rgba(200, 199, 255, 0.4);
  font-size: 1.4rem;
}
.counter__info {
  text-align: center;
}
.counter__info-heading {
  padding-bottom: 0.5em;
  color: hsl(0, 0%, 100%);
}
.counter__info-text {
  font-size: 1.4rem;
  color: hsl(241, 100%, 89%);
}
.counter .summary {
  padding: 1.5em;
}
.counter .summary-title {
  margin-bottom: 1em;
}
.counter .summary__box-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8em 0;
  padding: 0.8em;
  font-size: 1.4rem;
  border-radius: 10px;
}
.counter .summary__box-item-info svg {
  height: 100%;
  width: 18px;
  padding-right: 0.4em;
}
.counter .summary__box-item-right {
  position: relative;
  right: 0;
  font-weight: 700;
}
.counter .summary__box-item-right span {
  color: rgba(48, 59, 90, 0.4);
}
.counter .summary__box-item-first {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.counter .summary__box-item-first-left {
  color: hsl(0, 100%, 67%);
}
.counter .summary__box-item-second {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.counter .summary__box-item-second-left {
  color: hsl(39, 100%, 56%);
}
.counter .summary__box-item-third {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.counter .summary__box-item-third-left {
  color: hsl(166, 100%, 37%);
}
.counter .summary__box-item-fourth {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.counter .summary__box-item-fourth-left {
  color: hsl(234, 85%, 45%);
}
.counter .summary__btn {
  width: 100%;
  margin-top: 1em;
  padding: 0.8em 0;
  color: hsl(221, 100%, 96%);
  font-weight: 700;
  letter-spacing: 0.5px;
  background-color: hsl(224, 30%, 27%);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.counter .summary__btn:hover {
  background-color: hsl(241, 81%, 54%);
}

.attribution {
  margin-top: 1em;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 576px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .counter {
    width: 500px;
    flex-direction: row;
    border-radius: 1.5em;
  }
  .counter .summary {
    width: 50%;
  }
  .counter__result {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */